<server>
    <featureManager>
        <feature>appSecurity-3.0</feature>
        <feature>jaxrs-2.1</feature>
    </featureManager>
    
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" />

    <basicRegistry>
        <user name="test" password="pwd" />
        <group name="Echoer">
            <member name="test" />
        </group>
    </basicRegistry>

    <webApplication location="sample-app.war" contextRoot="/app" />

</server>
